.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat:no-repeat ;
    background-position: center;
    display: inline-block;

}


.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;  /* espaçamento dos icones */
    align-items: center;
    position: relative;
}


.container {
    display: flex;  /* espaçamento dos icones dentro do container */
    align-items: center; /* centralizando */
}

.container__imagem {
    padding: 1em;   /* para não ficar um icone grudado ao outro */
}


/* aqui abaixo começo a fazer as alterações no menu hamburguer */
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~.lista-menu /* checked detecta se esta preenchido o checkbox */ { 
    display: block;
}

.lista-menu__titulo , .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}


.lista-menu__titulo { /* titulo categorias no menu hamburguer*/
    color: var(--laranja);
    font-weight: 700;
}



.lista-menu__link {   /* cada palavra de link dentro do menu hamburguer*/
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

}

.container__botao {  /* para não aparecer o botão de ticar do checkbox (aquele que serve para habilitar o menu)*/
    display: none;
}

.container__titulo {
    display: none;  /* para desaparecer quando a media querie é menor que 1024, quando abaixa a responsividade pra menos de 1024 some o AJS*/
}

.opcoes {
    display: none; /* para desaparecer quando a media querie é menor que 1024, quando abaixa a responsividade pra menos de 1024 some as opções do header*/
}

@media screen and (min-width: 1024px) {
    
    .container__titulo , 
    .container__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;

    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {  /* serviu para se caso tiver ticado o check box(checked ~) ele vai ter um display block na lista menu, então aparece a lista se caso ticar o checkbox.*/
        display: block;
        width: auto;
    }

    .opcoes__botao {   /* serviu para ocultar o checkbox do input da tela, pra quando clicar em categorias ele ja abrir o menu hamburguer*/
        display: none;
    }
}